# Copiar a .env y ajustar valores
# NUNCA commitear .env

KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=altana-dev
KEYCLOAK_CLIENT_ID=python-fastapi

# Para validar el audience del token (opcional pero recomendado)
TOKEN_AUDIENCE=altana-web
